ruby:
  name  ||= nil
  size  ||= :normal
  grind ||= false

  if name.present?
    config = brewing_method_meta(name)
  end

- if name.present?
  = render partial: 'shared/brewing/method/template', locals: {config: config, size: size, grind: grind}