ruby:
  name  ||= nil
  size  ||= :normal
  text  ||= nil

  if !name.nil?
    if name == :aeropress
      text  = "Аэропресс"
    elsif name == :turk
      text  = "Турка"
    elsif name == :v60
      text  = "Пуровер"
    elsif name == :siphon
      text  = "Сифон"
    elsif name == :french
      text  = "Френч"
    elsif name == :cup
      text  = "В чашку"
    elsif name == :machine
      text  = "Машина"
    elsif name == :moka
      text  = "Мока"
    end
  end

  config = {
    name:  name,
    text:  text,
    size:  size
  }

- if name.present?
  = render partial: 'shared/brewing/method/template', locals: {config: config}