.bm-button-base() {
  .box-sizing(border-box);
  .vertical-align-middle();
  border: 0;
  border-radius: 2px;
  font-family: @font-ptsans;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;

  &.m-bold {
    font-weight: bold;
  }
}

.bm-button-brown-light {
  .bm-button-base();
  border: 1px solid @color-brown-light;
  background-color: @color-brown-light;
  color: #ffffff;

  .m-desktop &:hover,
  .m-touch   &:active {
    background-color: transparent;
    //border: 1px solid @color-brown-light;
    color: @color-brown-light;
  }
}