.bm-header-base() {
  color: #000000;
  font-family: @font-ptsans;
  font-weight: bold;
  text-align: center;
  width: 100%;

  &.m-white {
    color: #ffffff;
  }
}

.bm-header-50 {
  .bm-header-base();
  font-size: 50px;
}
.bm-header-35 {
  .bm-header-base();
  font-size: 50px;
}
.bm-header-25 {
  .bm-header-base();
  font-size: 25px;
}

.bm-text-18 {
  -webkit-font-smoothing: antialiased;
  color: #000000;
  font-size: 18px;
  font-family: @font-ptsans;
  font-weight: normal;
  line-height: 28px;

  &.m-bold,
  .m-bold {
    font-weight: bold;
  }

  &.m-white {
    color: #ffffff;

    .link {
      color: #ffffff;
    }
  }



  .link {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    text-decoration: underline;

    .m-desktop &:hover {
      text-decoration: none;
    }
  }
}