*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmproj
*.orig
*/.DS_Store
*~
*.js.map
*.css.map
.DS_Store
.idea
.powrc
.ruby-version
.rvmrc
.bundle
/.rspec
Procfile
Thumbs.db
atlassian-ide-plugin.xml
bookmate.esproj/
config/database.yml
config/development.sphinx.conf
config/initializers/*_local.rb
config/maps.yml
config/memcache.yml
config/memcached.yml
config/mongrel_cluster.yml
config/production.sphinx.conf
config/thin.yml
config/unicorn-local.rb
config/yandex_maps.yml
coverage
db/development.sqlite3
db/sphinx/
doc/app
doc/plugins
libru
log/*
mkmf.log
nbproject
public/0
public/92d335c3524bf043daa63e2b.html
public/LiveSearchSiteAuth.xml
public/adbureau.xml
public/assets/
public/assets_test/
!public/assets/javascript
!public/assets/javascript/*
public/documents.yml
public/maintenance.html
public/pipeline
public/profiler
public/sitemap*xml
public/system
public/yandex_*.txt
script/*local
script/sync
script/sync.*
test/*
tmp.pot*
tmp/*
frontend/node_modules
frontend/javascripts/jsHintReports
frontend/javascripts/docs
inplat/
.gemtags
.tags
.tags_sorted_by_file
vendor/bundle/
config/test.sphinx.conf
public/javascript
public/styles
# config/frontend_version.yml
