.bm-top-menu {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  text-align: center;
  width: 100%;
}
.bm-top-menu-item {
  .transition(0.15s);
  .vertical-align-middle();
  background-color: rgba(82, 49, 49, 0.6);
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-family: @font-ptsans;
  font-size: 20px;
  font-weight: normal;
  padding: 0 20px;
  text-decoration: none;

  .m-desktop &:hover,
  .m-touch   &:active {
    background-color: rgba(82, 49, 49, 0.8);
  }

  &:not(:last-of-type) {
    margin-right: 40px;
  }
}