ruby:
  item    ||= nil
  counter ||= nil

  if item
    config = {
      data: item.api_attributes,
      html: {
        image_url: item.image.url(:medium),
        counter:   counter,
        specs: (render partial: 'templates/item/specs/all', locals: {size: :small, config: item.specs_as_hash})
      }
    }
  end

- if item.present?
  = render partial: 'catalogue/item/template', locals: {config: config}