ruby:
  item    ||= nil
  counter ||= nil

  if item
    config = {
      data: item.api_attributes,
      html: {
        image_url: item.image.url(:medium),
        counter:   counter
      }
    }
  end

- if item.present?
  = render partial: 'catalogue/item/template', locals: {config: config}