@color-facebook:  #597ccd;
@color-twitter:   #8ad2f1;
@color-vkontakte: #719cd7;

@color-dark: #2e3034;

@color-brown-dark: #523131;
@color-brown-light: #925c25;

@color-blue: #6983E7;
@color-blue-lighter: #7391ff;

@color-yellow-light: #ffffdd;

@color-gray-light: #fafafa;
@color-gray-dark: #4c4c4c;