ruby:


  config   ||= nil
  size     ||= :normal

  if config.present?
    acidity    = config[:acidity].present?    ? config[:acidity]    : 0
    body       = config[:body].present?       ? config[:body]       : 0
    aroma      = config[:aroma].present?      ? config[:aroma]      : 0
    aftertaste = config[:aftertaste].present? ? config[:aftertaste] : 0

    specs = [{
      name: "acidity",
      text: "кислинка",
      value: acidity
    },{
      name: "aroma",
      text: "аромат",
      value: aroma
    },{
      name: "body",
      text: "тело",
      value: body
    },{
      name: "aftertaste",
      text: "послевкусие",
      value: aftertaste
    }]
  end

- if config.present?
  .bm-item-specs-wrapper data-size=size
    - specs.each do |spec|
      = render partial: 'templates/item/specs/all/item_template', locals: {spec: spec}